{% comment %}
  Custom app block created by JadePuma
  Instructions - https://jadepuma.com/blogs/shopify-tutorials/featured-promotions-grid-layout-for-flex-theme
  Last editted - 26Jan24 
{% endcomment %}

{%- assign title = block.settings.title -%}
{%- assign blog = blogs[block.settings.blog_widget_select] -%}
{% comment %} {%- assign blocks = section.blocks -%} {% endcomment %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #jp-section-{{ block.id }} {
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
    {% if block.settings.width == 'wide' -%}
      width: 100%;
    {%- endif %}
  }
  /* {% render 'css-loop',
          css: block.settings.custom_css,
          id: block.id
%} */
{% endstyle %}
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="https://obscure-crag-31778-2e8e3822a617.herokuapp.com/styles.css"/>

{% comment %} HTML markup {% endcomment %}
<section class="section pa2
                  {{ block.settings.css_class }}
                  is-width-{{ block.settings.width }}"
                  {% if block.settings.animation != "none" %}
                    data-scroll-class="{{ block.settings.animation }} "
                  {% endif %}>
  
    {% if title != blank %}
      <div class="container">
{% render 'heading',
                title: title,
                heading_tag: 'h2',
                context: 'featured-blog',
                text_alignment: 'center',
        %} 
      </div>
    {% endif %}
  
    <div class="is-flex is-flex-nowrap is-justify-center">
        {% for article in blog.articles limit:block.settings.home_page_articles %}
    
              <div id="jp-section-{{ block.id }}"
              class="featured-article blog-card
                featured-promotions__block featured-promotions__block--{{ forloop.length }} medium-down--one-whole
              {% if block.settings.home_page_articles == 2 %}
                one-half
              {% elsif block.settings.home_page_articles == 3 %}
                one-third
              {% elsif block.settings.home_page_articles == 4 %}
                one-fourth
              {% elsif block.settings.home_page_articles == 5 %}
                one-fifth
                {% endif %}
                column has-color-override article card show-border-{{ block.settings.show-border }} has-margin"
                data-promo-index={{ forloop.index0 }} {{ block.shopify_attributes }}>
  
              {% if article.image != blank %}
                <div class="card-image blog-card__image">
                  <figure class="image">
                    <a class="blog-card__link" href="{{ article.url }}" title="{{ article.title | escape }}">
                 {% render 'image-element',
                              image: article.image,
                              alt: article.image.alt,
                              additional_classes: 'blog-card__image',
                              back_to_basics:true
                      %}
                    </a>
                  </figure>
                </div>
              {% endif %}
  
              <div class="card-content blog-card__content">
                  <div class="media-content">
                      <a class="featured-article--link" href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
                </div>
  
                {% if article.excerpt != blank and block.settings.blog_show_excerpt%}
                  {%- assign postexcerpt = article.excerpt | size -%}
                  {% if postexcerpt > 150 %}
                    {%- assign excerptlength = 'lg' -%}
                  {% elsif postexcerpt <= 150 %}
                    {%- assign excerptlength = 'sm' -%}
                  {% endif %}
                  <div class="excerpt excerpt-length-{{ excerptlength }} has-margin-bottom">
                    {{ article.excerpt }}
                    <span class="truncation-fade"></span>
                  </div>
                {% endif %}
  
                <div class="meta-info is-small">
                  {% if block.settings.blog_show_tags %}
                    {% if article.tags.size > 0 %}
                      <ul class="meta-tag-list tags">
                      {% for tag in article.tags %}
                        <li class="tag tag--{{ settings.tag_style}}">
                          <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  {% endif %}
  
                 {% render 'meta-info-list',
                          article: article,
                          blog_author: block.settings.blog_author,
                          blog_date: block.settings.blog_date,
                          blog_read_time: block.settings.read_time,
                          blog_comment_count: block.settings.blog_comment_count
                  %} 
                </div>
              </div>
            {% if block.settings.button_type != 'none' %}
              <div class="blog-card__read-more">
                {% render 'button',
                        label: block.settings.button_label,
                        href: article.url,
                        type: "link",
                        style: block.settings.button_type
                %} 
              </div>
            {% endif %}
            </div>
        {% endfor %}
    </div>
</section> 


{% schema %}

  {
    "name": "JP Featured articles",
    "class": "blog-posts blog-posts--1",
    "target": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Recent blog posts"
      },
      {
        "type": "blog",
        "id": "blog_widget_select",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "home_page_articles",
        "label": "Articles per row",
        "min": 2,
        "max": 5,
        "default": 3,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags",
        "default": true
      }, {
        "type": "checkbox",
        "id": "blog_author",
        "label": "Show author",
        "default": true
      }, {
        "type": "checkbox",
        "id": "read_time",
        "label": "Show estimated read time",
        "default": true
      }, {
        "type": "checkbox",
        "id": "blog_date",
        "label": "Show date",
        "default": true
      }, {
        "type": "checkbox",
        "id": "blog_comment_count",
        "label": "Show comment count",
        "default": false
      }, {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpts",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show-border",
        "label": "Show border",
        "default": true
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Read more"
      }, {
        "type": "select",
        "id": "button_type",
        "label": "Button style",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "button--primary",
            "label": "Primary"
          }, {
            "value": "button--secondary",
            "label": "Secondary"
          }, {
            "value": "button--link-style",
            "label": "Link style"
          }
        ],
        "default": "button--primary"
      }, {
        "type": "header",
        "content": "Layout"
      }, {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wide",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          }, {
            "value": "wide",
            "label": "Wide"
          }
        ]
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 20,
        "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "default": 0,
        "min": 0,
        "max": 80,
        "unit": "px"
      }, {
        "type": "select",
        "id": "animation",
        "label": "Animation",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "fadeIn",
            "label": "Fade in"
          },
          {
            "value": "fadeInDown",
            "label": "Fade in down"
          },
          {
            "value": "fadeInLeft",
            "label": "Fade in left"
          }, {
            "value": "fadeInRight",
            "label": "Fade in right"
          }, {
            "value": "slideInLeft",
            "label": "Slide in left"
          }, {
            "value": "slideInRight",
            "label": "Slide in right"
          }
        ]
      }, {
        "type": "header",
        "content": "Advanced",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      }, {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      }, {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ]

// "blocks": [
// {
// "type": "article",
// "name": "Article",
// "settings": [
// {
// "type": "article",
// "id": "article_widget_select",
// "label": "Article"
// }
// ]
// }
// ],
// "presets": [{
// "name": "JP Featured Articles",
// "category": "JadePuma",
// "settings": {
// "blog_widget_select": ""
// }
// }]
  }

{% endschema %}